body
{
    color:black 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#cabecera
{
    background: brown;
    color:lightyellow;
    margin: 0;
    padding: 0.5em;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    
}